.container {
    padding: 4rem;
    text-align: center;
}

/** #canvas -> html-element mit der id='canvas' */
#canvas {
    border: 3px solid #eeeeee;
}

body {
    background-color: #000000;
}

.container {
    padding: 4rem;
    text-align: center;
}

/** #canvas -> html-element mit der id='canvas' */
#canvas {
    border: 3px solid #0000ff;
}
